{
    "presets": [
        "stage-3",
        "stage-2",
        "stage-1",
        "stage-0"
    ],
    "plugins": [
        "transform-es2015-modules-commonjs",
        ["transform-runtime", {
            "helpers": true,
            "polyfill": true,
            "regenerator": true
        }]
    ]
}
